<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Oferta al conductor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Oferta al conductor</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content-wrapper">
    <ion-text class="subtitle">Selecciona tu destino</ion-text>
    <app-add-route-map (locationSelected)="onLocationSelected($event)"></app-add-route-map>
    
    <form id="price-form" [formGroup]="priceForm">
      <div class="form-group">
        <ion-label id="offer-label">Oferta $</ion-label>
        <ion-input class="price-input" ngDefaultControl type="number" formControlName="price"></ion-input>
      </div>

      <ion-text *ngIf="noAddress === true" class="warning-text">
        Asegúrate de seleccionar una ruta en el mapa
      </ion-text>
      <ion-text *ngIf="noPrice === true" class="warning-text">
        Selecciona un precio. Si prefieres que sea gratis, puedes seleccionar 0.
      </ion-text>

      <ion-button id="send-offer-button" (click)="sendOffer()">
        Enviar oferta
      </ion-button>
    </form>
  </div>
</ion-content>
