<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Oferta al conductor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Oferta al conductor</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <ion-text>Selecciona tu destino</ion-text>
    <app-add-route-map (locationSelected)="onLocationSelected($event)"></app-add-route-map>
    <div class="price">
    <form [formGroup]="priceForm">
        <ion-label position="fixed">Oferta $</ion-label>
        <ion-input ngDefaultControl type="number" formControlName="price"></ion-input>
        <ion-text *ngIf="noAddress === true">Asegurate de seleccionar una ruta en en mapa</ion-text>
        <ion-text *ngIf="noPrice === true">Selecciona un precio si quieres que sea gratis puedes seleccionar 0</ion-text>
        <ion-button (click)="sendOffer()">Enviar oferta</ion-button>
    </form>
  </div>
  </div>
</ion-content>
