<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Aviso de privacidad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Aviso de privacidad</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
  <ion-text>
    <h1>Aviso de Privacidad</h1>
  </ion-text>
  <ion-list>
    <ion-list-header>
      <ion-label>Recopilación de Información</ion-label>
    </ion-list-header>
    <ion-item>
      Recopilamos datos personales de los usuarios, como nombre, ubicación y detalles de contacto, necesarios para confirmar que el usuario se encuentra dentro del campus universitario y facilitar el inicio y finalización del trayecto. Esta información también se utilizará en caso de emergencia para contactar a las autoridades.
    </ion-item>
    <ion-list-header>
      <ion-label>Uso de Datos de Localización</ion-label>
    </ion-list-header>
    <ion-item>
      El uso de localización es obligatorio para confirmar que los usuarios están dentro del campus. La ubicación solo se registra al solicitar y al finalizar el viaje. La ubicación también permite ofrecer rutas compartidas y calcular los costos de acuerdo con la cercanía de los destinos.
    </ion-item>
    <ion-list-header>
      <ion-label>Protección de Datos</ion-label>
    </ion-list-header>
    <ion-item>
      Implementamos medidas de seguridad para proteger los datos personales contra accesos no autorizados. No compartiremos información con terceros sin consentimiento, excepto en situaciones de emergencia.
    </ion-item>
    <ion-list-header>
      <ion-label>Derechos del Usuario</ion-label>
    </ion-list-header>
    <ion-item>
      Los usuarios pueden solicitar acceso, corrección o eliminación de sus datos personales a través de la configuración de la cuenta o poniéndose en contacto con el equipo de soporte.
    </ion-item>
    <ion-list-header>
      <ion-label>Conservación de Datos</ion-label>
    </ion-list-header>
    <ion-item>
      Los datos personales se conservarán únicamente durante el tiempo necesario para cumplir con los fines para los cuales fueron recopilados, incluidos los requisitos legales, contables o de informes. Los datos de ubicación y trayectos se almacenarán solo durante el tiempo necesario para la gestión de los viajes, pero no se mantendrán de manera indefinida.
    </ion-item>
    <ion-list-header>
      <ion-label>Compartición de Información con Terceros</ion-label>
    </ion-list-header>
    <ion-item>
      No compartimos información personal con terceros, excepto en los casos en que sea necesario para el funcionamiento de la plataforma, como los servicios de pago, o cuando lo exija la ley o las autoridades en situaciones de emergencia. En caso de incidentes en el trayecto, la ubicación del usuario podrá ser compartida con autoridades para brindar asistencia oportuna.
    </ion-item>
    <ion-list-header>
      <ion-label>Actualización de la Política de Privacidad</ion-label>
    </ion-list-header>
    <ion-item>
      Nos reservamos el derecho de actualizar esta política de privacidad en cualquier momento. Los cambios serán notificados a los usuarios mediante la plataforma y se les solicitará que acepten las nuevas condiciones antes de continuar utilizando los servicios.
    </ion-item>
    <ion-list-header>
      <ion-label>Uso de Cookies y Tecnologías Similares</ion-label>
    </ion-list-header>
    <ion-item>
      Utilizamos cookies y tecnologías de seguimiento para mejorar la experiencia del usuario, como recordar preferencias de rutas o información de inicio de sesión. Los usuarios pueden optar por desactivar las cookies a través de la configuración de su navegador, pero esto puede afectar el rendimiento de la aplicación.
    </ion-item>
  </ion-list>
  <ion-text>
    <h1>Términos y Condiciones</h1>
  </ion-text>
  <ion-list>
    <ion-list-header>
      <ion-label>Uso de la Plataforma</ion-label>
    </ion-list-header>
    <ion-item>
      La plataforma está diseñada exclusivamente para estudiantes de la universidad y se requiere verificación de cuenta universitaria. Al registrarse, el usuario acepta que la plataforma solo se usará para compartir rutas y coordinar el costo del viaje.
    </ion-item>
    <ion-list-header>
      <ion-label>Proceso de Confirmación de Ubicación</ion-label>
    </ion-list-header>
    <ion-item>
      Antes de iniciar un trayecto, el usuario debe activar la localización para confirmar que se encuentra dentro del campus. El uso indebido de la función de localización puede resultar en la suspensión de la cuenta.
    </ion-item>
    <ion-list-header>
      <ion-label>Negociación de Tarifas</ion-label>
    </ion-list-header>
    <ion-item>
      El conductor y el pasajero pueden acordar el precio del trayecto antes de iniciarlo. La plataforma no se hace responsable de las negociaciones, por lo que se recomienda que ambas partes lleguen a un acuerdo claro.
    </ion-item>
    <ion-list-header>
      <ion-label>Emergencia en el Trayecto</ion-label>
    </ion-list-header>
    <ion-item>
      La plataforma permite realizar una llamada directa a emergencias en caso de accidente. Al utilizar esta función, el usuario autoriza que se comparta la ubicación con las autoridades correspondientes para una respuesta rápida.
    </ion-item>
    <ion-list-header>
      <ion-label>Inicio y Finalización del Trayecto</ion-label>
    </ion-list-header>
    <ion-item>
      Los usuarios deben iniciar y finalizar el trayecto en la aplicación para el cálculo adecuado de costos y evitar malentendidos.
    </ion-item>
    <ion-list-header>
      <ion-label>Limitación de Responsabilidad</ion-label>
    </ion-list-header>
    <ion-item>
      La plataforma no es responsable de los acuerdos personales entre usuarios ni de los posibles incidentes ocurridos durante el trayecto. Cada usuario es responsable de su seguridad y debe tomar precauciones al compartir transporte.
    </ion-item>
    <ion-list-header>
      <ion-label>Proceso de Registro y Verificación de Identidad</ion-label>
    </ion-list-header>
    <ion-item>
      Los usuarios deben ser estudiantes activos de la universidad y proporcionar una identificación válida. La plataforma se reserva el derecho de solicitar documentos adicionales para verificar la identidad, y cualquier falsificación de información puede resultar en la suspensión o eliminación de la cuenta.
    </ion-item>
    <ion-list-header>
      <ion-label>Responsabilidad del Usuario</ion-label>
    </ion-list-header>
    <ion-item>
      Tanto los conductores como los pasajeros deben asegurar que cumplen con todas las leyes de tránsito locales y universitarias al utilizar el servicio. El usuario es responsable de cualquier infracción o daño que pueda ocurrir durante el trayecto.
    </ion-item>
    <ion-list-header>
      <ion-label>Política de Cancelación y Reembolsos</ion-label>
    </ion-list-header>
    <ion-item>
      Los usuarios pueden cancelar un viaje antes de que comience. Sin embargo, si el conductor o pasajero cancela un viaje después de acordar la tarifa o después de un tiempo razonable de espera, se aplicará una penalización. No se otorgarán reembolsos por tarifas acordadas una vez iniciado el trayecto, salvo en circunstancias excepcionales.
    </ion-item>
    <ion-list-header>
      <ion-label>Evaluación y Comentarios</ion-label>
    </ion-list-header>
    <ion-item>
      Al finalizar el trayecto, tanto el conductor como el pasajero pueden evaluarse mutuamente. La plataforma utiliza estos comentarios para mejorar la calidad del servicio. Comentarios malintencionados, falsos o que no sigan las normas de la comunidad pueden dar lugar a la suspensión de la cuenta.
    </ion-item>
    <ion-list-header>
      <ion-label>Seguridad y Buenas Prácticas</ion-label>
    </ion-list-header>
    <ion-item>
      Los usuarios deben tomar precauciones durante los trayectos, como verificar la identidad del conductor/pasajero y comunicar sus planes de viaje a alguien de confianza. La plataforma no se responsabiliza por actos delictivos que puedan ocurrir durante el uso del servicio, pero colaborará con las autoridades en caso de incidentes.
    </ion-item>
    <ion-list-header>
      <ion-label>Modificaciones de los Términos y Condiciones</ion-label>
    </ion-list-header>
    <ion-item>
      Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento. Los cambios se notificarán a los usuarios por los mismos medios donde se publicaron inicialmente y requerirán aceptación explícita antes de continuar utilizando el servicio.
    </ion-item>
    <ion-list-header>
      <ion-label>Jurisdicción y Resolución de Conflictos</ion-label>
    </ion-list-header>
    <ion-item>
      Cualquier disputa que surja en relación con el uso de la plataforma deberá resolverse en los tribunales competentes de la ciudad donde se encuentre la universidad. Las partes acuerdan someterse a la jurisdicción de estos tribunales para cualquier procedimiento legal.
    </ion-item>
  </ion-list>
</div>
</ion-content>
