<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>initialize route</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>Espera al pasajero frente al patio cívico para iniciar el viaje</ion-text><br>
  <ion-button id="present-alert">Iniciar viaje</ion-button>
  <ion-alert
    trigger="present-alert"
    header="Seguro que desas iniciar el viaje?
    El pasajero ya debe estar dentro del vehículo"
    [buttons]="ConfirmInitTrip"
    (didDismiss)="setResult($event)"
  ></ion-alert>
  <div class="error" *ngIf="validLocation == false">
    <ion-text>No te encuentras cerca de la universidad</ion-text>
  </div>
</ion-content>
