<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Publica una ruta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div>
    <ion-text>
      <h2>¿Cual es el destino al que quieres llegar?</h2>
    </ion-text>
    <app-add-route-map (locationSelected)="onLocationSelected($event)"></app-add-route-map>
    <form (ngSubmit)="onSubmit()" #locationForm="ngForm">
      <div id="datetime">
        <ion-datetime 
        name="reservationTime"
        id="calendar"
        [min]="minDateTime"
        [max]="maxDateTime"  
        doneText="Confirmar" cancelText="Cancelar"
        [showDefaultButtons]="true"
        [(ngModel)]="selectedTime"
        (ionChange)="onTimeChange($event)">
          <span slot="title">¿A que hora sera tu salida?</span>
        </ion-datetime>
      </div>
      <div class="error" *ngIf="validTime == false">
        <ion-text>La hora de salida no valida</ion-text>
      </div>
      <div class="error" *ngIf="errorGeneratingRote == true" >
        <ion-text>Ocurrio un error al enviar los datos, recarge la pagina e intentelo nuevamente</ion-text>
      </div>
      <div class="error" *ngIf="hasActiveRoute == true" >
        <ion-text>Ya tienes una ruta en progreso</ion-text>
      </div>
      <div class="error" *ngIf="locationSelected == false" >
        <ion-text>Selecciona en el mapa el lugar al que te diriges</ion-text>
      </div>
      <div *ngIf="selectedTime != undefined || '' ">
        <ion-text>Tu viaje esta programado para el {{time}}</ion-text>
      </div>
      <ion-button type="submit">Enviar</ion-button>
    </form>
  </div>
</ion-content>
